*.pyc
__pycache
.DS_Store
/.envs
/.idea
/venv/*
/staticfiles/admin
/staticfiles/debug_toolbar
/staticfiles/rest_framework
/staticfiles/rest_framework_swagger
/staticfiles/logs/*.log
*/migrations/*
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
app/celerybeat.pid
celerybeat.pid
*.log
client/migrations/__init__.py
client/migrations/*
